*{
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    margin: 0;
}

body{
    font-family: Arial, sans-serif;
}

#content{
    height: 100%; 
    margin: 0;
}

#container{
    min-height: 100%; 
    display: grid;
    gap: 1vw;
    grid-template-rows: 1fr 10fr;
}

.navbar{
    display: flex;
    background-color: antiquewhite;
    align-items: center;
    justify-content: center;
}

.navbar ul{
    list-style-type: none;
    gap: 10vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.navbar ul button{
    background: rgba(248, 0, 0, 0.2); /* Green background with 0 opacity */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10%;
}


.main{
    background-color: antiquewhite;
    height:80vh;
    width: 40vw;
    justify-self: center;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#Description img{
    height: 40vh;
    width: auto;
    border-radius: 40%;
}

.main img{
    height: 10vw;
    width: auto;
    border-radius: 1%;
}